In [1]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
l=[10,20,30,40,50]

In [4]:
l

[10, 20, 30, 40, 50]

In [9]:
l1=pd.Series(l)

In [10]:
l1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [11]:
l2=['AB','DC',30,19,20]

In [12]:
l2

['AB', 'DC', 30, 19, 20]

In [15]:
l22=pd.Series(l2,index=[100,200,300,400,500])

In [16]:
l22

100    AB
200    DC
300    30
400    19
500    20
dtype: object

In [21]:
l22[100]

'AB'

In [22]:
dic={'saura':200,'shubh':200,'shweta':300,'ananad':500}

In [23]:
dic

{'saura': 200, 'shubh': 200, 'shweta': 300, 'ananad': 500}

In [40]:
dic1=pd.Series(dic)

In [41]:
dic1

saura     200
shubh     200
shweta    300
ananad    500
dtype: int64

In [62]:
arr=np.arange(10,dtype="float")

In [70]:
type(arr)

numpy.ndarray

In [66]:
pd1=pd.Series(arr,dtype="int8")

In [69]:
print(type(pd1))

<class 'pandas.core.series.Series'>

In [73]:
pd2=pd.Series([(12,12,12),(18,18,18),(20,20,20)])

In [85]:
pd2[2][1]

20

In [86]:
li

NameError: name 'li' is not defined

In [114]:
l1

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [124]:
d1=pd.DataFrame(data=l1,index=['100','110','120','130','140'],columns=['A'])

In [125]:
d1

      A
100 NaN
110 NaN
120 NaN
130 NaN
140 NaN

In [99]:
print(type(d1))

<class 'pandas.core.frame.DataFrame'>

In [102]:
d1[][0]

KeyError: 2

In [133]:
l1=[[20,20,20],[20,20,20]]

In [139]:
d2=pd.DataFrame(l1,index=['A','B'],columns=['A','B','C'])

In [140]:
d2

    A   B   C
A  20  20  20
B  20  20  20

In [164]:
dic=pd.DataFrame({'saura':[100,200,220],"shubham":[52,45,200],"anand":[100,200,300],"shalini":[0,400,52]},index=[11,22,33]).T

In [166]:
dic

          11   22   33
saura    100  200  220
shubham   52   45  200
anand    100  200  300
shalini    0  400   52

In [171]:
dic1=pd.DataFrame(dic)

In [172]:
dic1

          11   22   33
saura    100  200  220
shubham   52   45  200
anand    100  200  300
shalini    0  400   52

In [188]:
dic1[22]['anand']

KeyError: 22

In [179]:
dic

          11   22   33
saura    100  200  220
shubham   52   45  200
anand    100  200  300
shalini    0  400   52

In [189]:
dic.loc["saura"]

11    100
22    200
33    220
Name: saura, dtype: int64

In [182]:
dic1

    saura  shubham  anand  shalini
11    100       52    100        0
22    200       45    200      400
33    220      200    300       52

In [204]:
dic1['shubham']

TypeError: Cannot index by location index with a non-integer key

In [211]:
li=[[10,12,23],[23,'saurabh',45],[32,32,34]]

In [212]:
li

[[10, 12, 23], [23, 'saurabh', 45], [32, 32, 34]]

In [218]:
df1=pd.DataFrame(li,index=[1,'saurabh',2])

In [325]:
df1

    A        B
0   1        2
1   3        4
2   5  saurabh
3   7        8
4  12  shubham
5  44       34
6  45       56
7  67  saurabh

In [220]:
df1.loc[1]

0    10
1    12
2    23
Name: 1, dtype: object

In [223]:
df1.loc['saurabh'][1]

'saurabh'

In [222]:
df1[1][1]

12

In [225]:
df1.loc['saurabh']

0         23
1    saurabh
2         45
Name: saurabh, dtype: object

In [226]:
df1

          0        1   2
1        10       12  23
saurabh  23  saurabh  45
2        32       32  34

In [227]:
df1[1]['saurabh'
]

'saurabh'

In [228]:
df1[2][1]

23

In [230]:
df1[1][0]

KeyError: 0

In [231]:
df1

          0        1   2
1        10       12  23
saurabh  23  saurabh  45
2        32       32  34

In [232]:
df1[0][1]

10

In [243]:
df1.loc["saurabh"][0]

23

In [238]:
df1[0]["saurabh"]

23

In [244]:
df1.iloc[2][0]

32

In [262]:
df3=pd.DataFrame({"sauran":11,"shubham":22,'12':23},index=[1,2,3],columns=[1,2,3])

In [263]:
df3

     1    2    3
1  NaN  NaN  NaN
2  NaN  NaN  NaN
3  NaN  NaN  NaN

In [261]:
df3["sauran"][2]

KeyError: 'sauran'

In [266]:
a1=pd.DataFrame([[12,21,32],[12,23,34],[45,54,65]],index=['A','B','C'],columns=['AB','BC','CD'])

#

In [267]:
a1

   AB  BC  CD
A  12  21  32
B  12  23  34
C  45  54  65

In [270]:
a1>17

      AB    BC    CD
A  False  True  True
B  False  True  True
C   True  True  True

In [271]:
a1+10

   AB  BC  CD
A  22  31  42
B  22  33  44
C  55  64  75

In [272]:
a1-2

   AB  BC  CD
A  10  19  30
B  10  21  32
C  43  52  63

In [273]:
a1[a1>17]

     AB  BC  CD
A   NaN  21  32
B   NaN  23  34
C  45.0  54  65

In [274]:
print(type(a1))

<class 'pandas.core.frame.DataFrame'>

In [275]:
print(type(a1["AB"]))

<class 'pandas.core.series.Series'>

In [277]:
print(type(a1["AB"]["B"]))

<class 'numpy.int64'>

In [278]:
a1

   AB  BC  CD
A  12  21  32
B  12  23  34
C  45  54  65

In [279]:
a1["AB":"CD"]

   AB  BC  CD
B  12  23  34
C  45  54  65

In [283]:
a1[["AB","BC"]]

   AB  BC
A  12  21
B  12  23
C  45  54

In [284]:
a1[["AB","BC","CD"]]

   AB  BC  CD
A  12  21  32
B  12  23  34
C  45  54  65

In [341]:
df1=pd.DataFrame([[1,2],[3,4],[5,"saurabh"],[7,8],[12,"shubham"],[44,34],[45,56],[67,"saurabh"]],columns=["A","V"])

In [342]:
df1

    A        V
0   1        2
1   3        4
2   5  saurabh
3   7        8
4  12  shubham
5  44       34
6  45       56
7  67  saurabh

In [343]:
df1.head(6)

    A        V
0   1        2
1   3        4
2   5  saurabh
3   7        8
4  12  shubham
5  44       34

In [356]:
df1.T

   0  1        2  3        4   5   6        7
A  1  3        5  7       12  44  45       67
V  2  4  saurabh  8  shubham  34  56  saurabh

In [358]:
df1["A"].describe(include="all")

count     8.000000
mean     23.000000
std      25.202041
min       1.000000
25%       4.500000
50%       9.500000
75%      44.250000
max      67.000000
Name: A, dtype: float64

In [346]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 2 columns):
A    8 non-null int64
V    8 non-null object
dtypes: int64(1), object(1)
memory usage: 208.0+ bytes

In [347]:
df1.columns

Index(['A', 'V'], dtype='object')

In [348]:
df1.size

16

In [349]:
df1.shape()

TypeError: 'tuple' object is not callable

In [350]:
df1.shape

(8, 2)

In [351]:
df1.replace(2,1)

    A        V
0   1        1
1   3        4
2   5  saurabh
3   7        8
4  12  shubham
5  44       34
6  45       56
7  67  saurabh

In [352]:
df1.replace(1,2)

    A        V
0   2        2
1   3        4
2   5  saurabh
3   7        8
4  12  shubham
5  44       34
6  45       56
7  67  saurabh