# pandas
Pandas Libarary is roboust tools for data analytics.

follow the below step to install the pandas

pip install pandas

or

conda install pandas

pandas has the following data types

Series

DataFrame

Panel

Series may be contain the number, string,date, boolean value or NaN / NaT value.

### Object Creation
### Viewing Data
### Selection
### Missing data
### Operations
### Merge
### Groupping
### Reshaping
### Input / Output
--================================================
## Timeseries
### Categorical
### Plotting

In [1]:
# import pandas
import pandas as pd

In [2]:
# series create
ser=pd.Series([10,20,30,40])
print(ser)

0    10
1    20
2    30
3    40
dtype: int64

In [3]:
ser[0]

10

In [4]:
ser[1]

20

In [5]:
ser[0:3]

0    10
1    20
2    30
dtype: int64

In [6]:
ser[0:3:2]

0    10
2    30
dtype: int64

In [7]:
# data type
print(type(ser))

<class 'pandas.core.series.Series'>

In [8]:
ser_data=ser>20

In [9]:
ser_data

0    False
1    False
2     True
3     True
dtype: bool

In [10]:
ser[ser_data]

2    30
3    40
dtype: int64

In [11]:
ser[ser>20]

2    30
3    40
dtype: int64

In [12]:
max(ser)

40

In [13]:
min(ser)

10

In [14]:
len(ser)

4

In [15]:
ser.shape

(4,)

In [16]:
t=('A','B','C','D')
ser_t=pd.Series(t)

In [17]:
ser_t

0    A
1    B
2    C
3    D
dtype: object

In [18]:
di={'A':20,'B':30,'C':40,'D':50}
ser_di=pd.Series(di)

In [19]:
ser_di

A    20
B    30
C    40
D    50
dtype: int64

In [20]:
ser1=pd.Series({'A':[10,20,30,40]})

In [21]:
ser1

A    [10, 20, 30, 40]
dtype: object

In [22]:
ser1['A'][0]

10

In [23]:
ser2=pd.Series([10,20,30,40],index=['India','Russia','USA','France'])

In [24]:
ser2

India     10
Russia    20
USA       30
France    40
dtype: int64